<a href="https://colab.research.google.com/github/amirafshari/pythonTutorial/blob/main/UN_population_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [81]:
dataframe = pd.read_excel('/content/drive/MyDrive/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx')

In [82]:
dataframe

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,United Nations,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Population Division,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20607,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20608,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20609,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20610,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20611,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [83]:
dataframe.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,United Nations,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Population Division,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Department of Economic and Social Affairs,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,World Population Prospects 2022,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,File GEN/01/REV1: Demographic indicators by re...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,"Estimates, 1950 - 2021",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,POP/DB/WPP/Rev.2022/GEN/F01/Rev.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,"© July 2022 by United Nations, made available ...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,"Suggested citation: United Nations, Department...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Migration,NaN
15,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
16,1,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
17,2,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
18,3,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
19,4,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
20,5,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,523.124,458.484,205.762,224.05,187.444,335.442,374.658,295.994,0,0
21,6,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,516.007,450.27,201.979,220.302,183.623,330.37,369.908,290.578,0,0
22,7,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,508.471,442.395,197.995,216.168,179.79,325.16,364.653,285.419,0,0
23,8,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,504.774,438.188,196.107,214.198,177.988,323.135,362.758,283.264,0,0
24,9,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,496.658,429.752,192.057,210.279,173.788,316.785,356.281,277.048,0,0
25,10,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,528.891,459.912,205.001,226.102,183.697,335.776,378.147,292.818,0,0
26,11,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,553.193,483.295,216.044,239.197,192.567,351.164,395.483,305.964,0,0
27,12,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,515.784,446.472,199.931,220.84,178.789,327.672,369.621,285.195,0,0
28,13,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,474.978,407.239,182.387,200.23,164.426,303.078,342.205,263.844,0,0
29,14,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,468.819,401.347,180.107,197.747,162.318,299.573,338.326,260.753,0,0

In [84]:
dataframe.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
20607,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20608,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20609,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20610,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20611,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [85]:
dataframe.describe()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
count,20597,20597,20597,5476,20606,17065,16993,20305,20597,20597,...,20597,20597,20597,20597,20597,20597,20597,20597,20598,20597
unique,20597,2,290,47,300,238,237,281,10,36,...,19967,19894,19576,19531,19192,19849,19826,19683,15840,12812
top,Index,Estimates,Australia/New Zealand,2,634,UKR,UA,419,Country/Area,915,...,...,...,...,...,...,...,...,...,0,0
freq,1,20596,144,792,72,72,72,144,17064,2016,...,76,76,76,76,76,76,76,76,578,578

In [86]:
dataframe = dataframe[15:]

In [87]:
dataframe

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
15,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
16,1,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
17,2,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
18,3,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
19,4,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20607,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20608,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20609,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20610,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20611,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [42]:
dataframe.reset_index()

,index,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,15,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
1,16,1,Estimates,WORLD,NaN,900,NaN,NaN,1,World,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
2,17,2,Estimates,WORLD,NaN,900,NaN,NaN,1,World,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
3,18,3,Estimates,WORLD,NaN,900,NaN,NaN,1,World,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
4,19,4,Estimates,WORLD,NaN,900,NaN,NaN,1,World,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20592,20607,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20593,20608,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20594,20609,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20595,20610,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20596,20611,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [56]:
dataframe[:1]
dataframe.iloc[0]

15
Index                                                                                                                                         Index
Variant                                                                                                                                     Variant
Region, subregion, country or area *                                                                           Region, subregion, country or area *
Notes                                                                                                                                         Notes
Location code                                                                                                                         Location code
                                                                                                                        ...
Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)       Mortality between Age 15 and 60, both sexes (d...
Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)        Male Mortality between Age 15 and 60 (deaths u...
Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)    Female Mortality between Age 15 and 60 (deaths...
Net Number of Migrants (thousands)                                                                               Net Number of Migrants (thousands)
Net Migration Rate (per 1,000 population)                                                                 Net Migration Rate (per 1,000 population)
Name: 15, Length: 65, dtype: object

In [88]:
dataframe

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
15,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
16,1,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
17,2,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
18,3,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
19,4,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20607,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20608,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20609,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20610,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20611,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [90]:
dataframe.columns = dataframe.iloc[0]

In [91]:
dataframe.columns

Index(['Index', 'Variant', 'Region, subregion, country or area *', 'Notes',
       'Location code', 'ISO3 Alpha-code', 'ISO2 Alpha-code', 'SDMX code**',
       'Type', 'Parent code', 'Year',
       'Total Population, as of 1 January (thousands)',
       'Total Population, as of 1 July (thousands)',
       'Male Population, as of 1 July (thousands)',
       'Female Population, as of 1 July (thousands)',
       'Population Density, as of 1 July (persons per square km)',
       'Population Sex Ratio, as of 1 July (males per 100 females)',
       'Median Age, as of 1 July (years)',
       'Natural Change, Births minus Deaths (thousands)',
       'Rate of Natural Change (per 1,000 population)',
       'Population Change (thousands)', 'Population Growth Rate (percentage)',
       'Population Annual Doubling Time (years)', 'Births (thousands)',
       'Births by women aged 15 to 19 (thousands)',
       'Crude Birth Rate (births per 1,000 population)',
       'Total Fertility Rate (live births per woman)',
       'Net Reproduction Rate (surviving daughters per woman)',
       'Mean Age Childbearing (years)',
       'Sex Ratio at Birth (males per 100 female births)',
       'Total Deaths (thousands)', 'Male Deaths (thousands)',
       'Female Deaths (thousands)',
       'Crude Death Rate (deaths per 1,000 population)',
       'Life Expectancy at Birth, both sexes (years)',
       'Male Life Expectancy at Birth (years)',
       'Female Life Expectancy at Birth (years)',
       'Life Expectancy at Age 15, both sexes (years)',
       'Male Life Expectancy at Age 15 (years)',
       'Female Life Expectancy at Age 15 (years)',
       'Life Expectancy at Age 65, both sexes (years)',
       'Male Life Expectancy at Age 65 (years)',
       'Female Life Expectancy at Age 65 (years)',
       'Life Expectancy at Age 80, both sexes (years)',
       'Male Life Expectancy at Age 80 (years)',
       'Female Life Expectancy at Age 80 (years)',
       'Infant Deaths, under age 1 (thousands)',
       'Infant Mortality Rate (infant deaths per 1,000 live births)',
       'Live Births Surviving to Age 1 (thousands)',
       'Under-Five Deaths, under age 5 (thousands)',
       'Under-Five Mortality (deaths under age 5 per 1,000 live births)',
       'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
       'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
       'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
       'Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)',
       'Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)',
       'Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)',
       'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
       'Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)',
       'Net Number of Migrants (thousands)',
       'Net Migration Rate (per 1,000 population)'],
      dtype='object', name=15)

In [92]:
dataframe

15,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
15,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
16,1,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
17,2,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
18,3,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
19,4,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20607,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20608,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20609,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20610,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20611,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [93]:
dataframe.drop('Index', axis=1, inplace=True)

<ipython-input-93-7f8da500dcb9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.drop('Index', axis=1, inplace=True)

In [94]:
dataframe = dataframe.drop(['Variant','Notes', 'Location code', 'ISO3 Alpha-code', 'ISO2 Alpha-code', 'SDMX code**', 'Type', 'Parent code'], axis=1)
dataframe

15,"Region, subregion, country or area *",Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Population Sex Ratio, as of 1 July (males per 100 females)","Median Age, as of 1 July (years)","Natural Change, Births minus Deaths (thousands)",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
15,"Region, subregion, country or area *",Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per ...","Population Sex Ratio, as of 1 July (males per ...","Median Age, as of 1 July (years)","Natural Change, Births minus Deaths (thousands)",...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
16,WORLD,1950,2477674.732,2499322.157,1245362.965,1253959.192,19.166,99.314,22.224,43294.722,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
17,WORLD,1951,2520969.582,2543130.38,1267473.182,1275657.198,19.502,99.358,22.172,44322.348,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
18,WORLD,1952,2565291.179,2590270.899,1291399.982,1298870.917,19.864,99.425,22.108,49960.072,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
19,WORLD,1953,2615250.618,2640278.797,1316659.222,1323619.574,20.247,99.474,22.036,50056.756,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20607,Wallis and Futuna Islands,2017,12.002,11.936,5.769,6.167,85.257,93.562,33.847,0.072,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20608,Wallis and Futuna Islands,2018,11.87,11.816,5.703,6.112,84.396,93.301,34.397,0.066,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20609,Wallis and Futuna Islands,2019,11.761,11.714,5.648,6.066,83.671,93.109,34.962,0.072,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20610,Wallis and Futuna Islands,2020,11.667,11.655,5.614,6.04,83.246,92.955,35.453,0.06,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20611,Wallis and Futuna Islands,2021,11.642,11.627,5.595,6.032,83.054,92.748,35.836,0.052,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [95]:
dataframe = dataframe.drop(15, axis=0)

In [96]:
dataframe

15,"Region, subregion, country or area *",Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Population Sex Ratio, as of 1 July (males per 100 females)","Median Age, as of 1 July (years)","Natural Change, Births minus Deaths (thousands)",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
16,WORLD,1950,2477674.732,2499322.157,1245362.965,1253959.192,19.166,99.314,22.224,43294.722,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
17,WORLD,1951,2520969.582,2543130.38,1267473.182,1275657.198,19.502,99.358,22.172,44322.348,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
18,WORLD,1952,2565291.179,2590270.899,1291399.982,1298870.917,19.864,99.425,22.108,49960.072,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
19,WORLD,1953,2615250.618,2640278.797,1316659.222,1323619.574,20.247,99.474,22.036,50056.756,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
20,WORLD,1954,2665306.975,2691979.339,1342923.171,1349056.168,20.643,99.545,21.952,53345.249,...,523.124,458.484,205.762,224.05,187.444,335.442,374.658,295.994,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20607,Wallis and Futuna Islands,2017,12.002,11.936,5.769,6.167,85.257,93.562,33.847,0.072,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20608,Wallis and Futuna Islands,2018,11.87,11.816,5.703,6.112,84.396,93.301,34.397,0.066,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20609,Wallis and Futuna Islands,2019,11.761,11.714,5.648,6.066,83.671,93.109,34.962,0.072,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20610,Wallis and Futuna Islands,2020,11.667,11.655,5.614,6.04,83.246,92.955,35.453,0.06,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20611,Wallis and Futuna Islands,2021,11.642,11.627,5.595,6.032,83.054,92.748,35.836,0.052,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [97]:
dataframe.reset_index(inplace=True)
dataframe

15,index,"Region, subregion, country or area *",Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Population Sex Ratio, as of 1 July (males per 100 females)","Median Age, as of 1 July (years)",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,16,WORLD,1950,2477674.732,2499322.157,1245362.965,1253959.192,19.166,99.314,22.224,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
1,17,WORLD,1951,2520969.582,2543130.38,1267473.182,1275657.198,19.502,99.358,22.172,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
2,18,WORLD,1952,2565291.179,2590270.899,1291399.982,1298870.917,19.864,99.425,22.108,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
3,19,WORLD,1953,2615250.618,2640278.797,1316659.222,1323619.574,20.247,99.474,22.036,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
4,20,WORLD,1954,2665306.975,2691979.339,1342923.171,1349056.168,20.643,99.545,21.952,...,523.124,458.484,205.762,224.05,187.444,335.442,374.658,295.994,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20591,20607,Wallis and Futuna Islands,2017,12.002,11.936,5.769,6.167,85.257,93.562,33.847,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20592,20608,Wallis and Futuna Islands,2018,11.87,11.816,5.703,6.112,84.396,93.301,34.397,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20593,20609,Wallis and Futuna Islands,2019,11.761,11.714,5.648,6.066,83.671,93.109,34.962,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20594,20610,Wallis and Futuna Islands,2020,11.667,11.655,5.614,6.04,83.246,92.955,35.453,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20595,20611,Wallis and Futuna Islands,2021,11.642,11.627,5.595,6.032,83.054,92.748,35.836,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [99]:
dataframe[:50]

15,index,"Region, subregion, country or area *",Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Population Sex Ratio, as of 1 July (males per 100 females)","Median Age, as of 1 July (years)",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,16,WORLD,1950,2477674.732,2499322.157,1245362.965,1253959.192,19.166,99.314,22.224,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
1,17,WORLD,1951,2520969.582,2543130.38,1267473.182,1275657.198,19.502,99.358,22.172,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
2,18,WORLD,1952,2565291.179,2590270.899,1291399.982,1298870.917,19.864,99.425,22.108,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
3,19,WORLD,1953,2615250.618,2640278.797,1316659.222,1323619.574,20.247,99.474,22.036,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
4,20,WORLD,1954,2665306.975,2691979.339,1342923.171,1349056.168,20.643,99.545,21.952,...,523.124,458.484,205.762,224.05,187.444,335.442,374.658,295.994,0,0
5,21,WORLD,1955,2718651.703,2746072.141,1370392.335,1375679.806,21.058,99.616,21.845,...,516.007,450.27,201.979,220.302,183.623,330.37,369.908,290.578,0,0
6,22,WORLD,1956,2773492.579,2801002.631,1398204.9,1402797.731,21.48,99.673,21.742,...,508.471,442.395,197.995,216.168,179.79,325.16,364.653,285.419,0,0
7,23,WORLD,1957,2828512.683,2857866.857,1426956.255,1430910.602,21.916,99.724,21.634,...,504.774,438.188,196.107,214.198,177.988,323.135,362.758,283.264,0,0
8,24,WORLD,1958,2887221.03,2916108.097,1456539.031,1459569.066,22.362,99.792,21.532,...,496.658,429.752,192.057,210.279,173.788,316.785,356.281,277.048,0,0
9,25,WORLD,1959,2944995.164,2970292.188,1483988.508,1486303.68,22.778,99.844,21.478,...,528.891,459.912,205.001,226.102,183.697,335.776,378.147,292.818,0,0
10,26,WORLD,1960,2995589.212,3019233.434,1508544.522,1510688.911,23.153,99.858,21.461,...,553.193,483.295,216.044,239.197,192.567,351.164,395.483,305.964,0,0
11,27,WORLD,1961,3042877.656,3068370.609,1533166.886,1535203.724,23.53,99.867,21.448,...,515.784,446.472,199.931,220.84,178.789,327.672,369.621,285.195,0,0
12,28,WORLD,1962,3093863.563,3126686.743,1562522.051,1564164.691,23.977,99.895,21.371,...,474.978,407.239,182.387,200.23,164.426,303.078,342.205,263.844,0,0
13,29,WORLD,1963,3159509.922,3195779.247,1597443.477,1598335.771,24.507,99.944,21.204,...,468.819,401.347,180.107,197.747,162.318,299.573,338.326,260.753,0,0
14,30,WORLD,1964,3232048.572,3267212.338,1633558.673,1633653.665,25.055,99.994,21.008,...,460.671,393.571,176.37,193.856,158.698,293.908,332.189,255.598,0,0
15,31,WORLD,1965,3302376.104,3337111.983,1668776.95,1668335.033,25.591,100.026,20.815,...,467.316,395.443,179.724,200.103,158.926,297.947,339.087,256.424,0,0
16,32,WORLD,1966,3371847.862,3406417.036,1703570.404,1702846.631,26.122,100.043,20.633,...,456.319,388.537,173.258,191.23,155.007,290.216,328.774,251.595,0,0
17,33,WORLD,1967,3440986.209,3475448.166,1738207.396,1737240.77,26.652,100.056,20.491,...,449.811,381.299,168.478,186.801,149.845,284.993,323.823,246.077,0,0
18,34,WORLD,1968,3509910.122,3546810.808,1774117.118,1772693.69,27.199,100.08,20.401,...,441.261,372.419,163.521,181.851,144.856,279.587,318.341,240.741,0,0
19,35,WORLD,1969,3583711.493,3620655.275,1811408.83,1809246.445,27.765,100.12,20.343,...,436.072,367.257,160.115,178.381,141.484,276.092,314.736,237.33,0,0
20,36,WORLD,1970,3657599.057,3695390.336,1849178.862,1846211.474,28.338,100.161,20.32,...,431.238,364.501,157.768,175.25,139.918,272.874,310.326,235.338,0,0
21,37,WORLD,1971,3733181.615,3770163.092,1886958.546,1883204.546,28.912,100.199,20.332,...,443.625,362.63,165.113,190.879,138.294,280.375,325.92,233.612,0,0
22,38,WORLD,1972,3807144.569,3844800.885,1924815.839,1919985.046,29.484,100.252,20.379,...,416.658,349.872,150.481,168.15,132.324,262.501,299.647,225.141,0,0
23,39,WORLD,1973,3882457.201,3920251.504,1963205.826,1957045.677,30.063,100.315,20.457,...,408.46,342.474,146.439,163.733,128.597,256.443,292.955,219.667,0,0
24,40,WORLD,1974,3958045.806,3995517.077,2001478.755,1994038.322,30.64,100.373,20.562,...,402.739,336.573,143.576,160.77,125.762,251.986,288.414,215.198,0,0
25,41,WORLD,1975,4032988.348,4069437.231,2038952.421,2030484.809,31.207,100.417,20.692,...,401.229,331.936,143.276,162.023,123.722,250.537,288.411,212.002,0,0
26,42,WORLD,1976,4105886.113,4142505.882,2075816.86,2066689.022,31.767,100.442,20.84,...,393.736,326.733,140.547,157.626,122.734,246.106,282.304,209.376,0,0
27,43,WORLD,1977,4179125.652,4215772.49,2112756.766,2103015.723,32.329,100.463,21.007,...,384.599,315.758,134.641,152.124,116.376,238.226,275.259,200.567,0,0
28,44,WORLD,1978,4252419.327,4289657.708,2149991.443,2139666.265,32.895,100.483,21.177,...,380.058,308.48,132.114,150.66,112.7,234.533,272.949,195.289,0,0
29,45,WORLD,1979,4326896.089,4365582.871,2188175.857,2177407.013,33.478,100.495,21.345,...,374.107,301.004,129.082,148.101,109.165,230.307,269.388,190.249,0,0
30,46,WORLD,1980,4404269.653,4444007.706,2227803.134,2216204.572,34.079,100.523,21.505,...,369.48,294.6,126.712,146.303,106.194,227.227,267.062,186.244,0,0
31,47,WORLD,1981,4483745.758,4524627.658,2268641.817,2255985.841,34.697,100.561,21.642,...,363.996,287.805,124.255,144.512,103.027,223.471,263.875,181.734,0,0
32,48,WORLD,1982,4565509.559,4607984.871,2310661.658,2297323.212,35.336,100.581,21.741,...,358.399,281.599,121.876,142.445,100.317,219.934,260.47,177.907,0,0
33,49,WORLD,1983,4650460.182,4691884.238,2352811.898,2339072.34,35.98,100.587,21.826,...,355.78,278.822,120.025,140.673,98.396,217.614,258.157,175.441,0,0
34,50,WORLD,1984,4733308.294,4775836.074,2394948.669,2380887.405,36.624,100.591,21.916,...,351.289,274.32,118.249,139.022,96.5,214.913,255.349,172.716,0,0
35,51,WORLD,1985,4818363.854,4861730.613,2438068.618,2423661.995,37.282,100.594,22.04,...,345.497,270.087,116.048,136.303,94.861,211.69,251.187,170.412,0,0
36,52,WORLD,1986,4905097.372,4950063.339,2482642.236,2467421.104,37.96,100.617,22.224,...,337.403,263.675,113.091,132.778,92.522,206.735,245.22,166.494,0,0
37,53,WORLD,1987,4995029.307,5040984.495,2528768.146,2512216.35,38.657,100.659,22.417,...,332.907,258.958,112.003,131.766,91.352,204.773,243.181,164.551,0,0
38,54,WORLD,1988,5086939.683,5132293.974,2575089.263,2557204.711,39.357,100.699,22.604,...,331.537,256.855,111.247,131.403,90.173,203.476,242.248,162.817,0,0
39,55,WORLD,1989,5177648.264,5223704.308,2621545.962,2602158.345,40.058,100.745,22.783,...,324.005,250.738,108.293,127.467,88.275,199.475,237.305,159.874,0,0
40,56,WORLD,1990,5269760.352,5316175.862,2668605.101,2647570.76,40.767,100.794,22.96,...,321.974,247.981,107.945,127.45,87.572,198.702,236.817,158.773,0,0
41,57,WORLD,1991,5362591.372,5406245.867,2714450.362,2691795.505,41.458,100.842,23.144,...,320.123,248.105,107.366,126.156,87.764,197.727,234.859,158.897,0,0
42,58,WORLD,1992,5449900.363,5492686.093,2758361.747,2734324.345,42.121,100.879,23.353,...,318.197,244.465,106.871,126.437,86.443,196.427,234.456,156.589,0,0
43,59,WORLD,1993,5535471.822,5577433.523,2801260.615,2776172.908,42.771,100.904,23.575,...,317.379,241.773,106.944,127.133,85.867,196.465,235.443,155.596,0,0
44,60,WORLD,1994,5619395.224,5660727.993,2843434.27,2817293.723,43.409,100.928,23.81,...,319.155,243.204,110.256,130.974,88.633,199.704,238.972,158.523,0,0
45,61,WORLD,1995,5702060.762,5743219.454,2885184.242,2858035.212,44.042,100.95,24.051,...,311.58,237.227,105.524,125.565,84.656,193.747,232.16,153.551,0,0
46,62,WORLD,1996,5784378.146,5825145.298,2926632.435,2898512.863,44.67,100.97,24.293,...,306.98,235.18,104.516,123.804,84.468,191.573,228.665,152.849,0,0
47,63,WORLD,1997,5865912.45,5906481.261,2967905.34,2938575.921,45.294,100.998,24.534,...,301.638,231.274,102.802,121.661,83.222,188.328,224.628,150.489,0,0
48,64,WORLD,1998,5947050.072,5987312.48,3008968.271,2978344.209,45.914,101.028,24.777,...,299.462,228.693,102.765,122.037,82.747,186.961,223.443,148.917,0,0
49,65,WORLD,1999,6027574.888,6067758.458,3049822.57,3017935.888,46.531,101.057,25.018,...,294.491,223.936,101.425,120.503,81.621,184.844,221.014,147.153,0,0

In [100]:
dataframe.columns

Index(['index', 'Region, subregion, country or area *', 'Year',
       'Total Population, as of 1 January (thousands)',
       'Total Population, as of 1 July (thousands)',
       'Male Population, as of 1 July (thousands)',
       'Female Population, as of 1 July (thousands)',
       'Population Density, as of 1 July (persons per square km)',
       'Population Sex Ratio, as of 1 July (males per 100 females)',
       'Median Age, as of 1 July (years)',
       'Natural Change, Births minus Deaths (thousands)',
       'Rate of Natural Change (per 1,000 population)',
       'Population Change (thousands)', 'Population Growth Rate (percentage)',
       'Population Annual Doubling Time (years)', 'Births (thousands)',
       'Births by women aged 15 to 19 (thousands)',
       'Crude Birth Rate (births per 1,000 population)',
       'Total Fertility Rate (live births per woman)',
       'Net Reproduction Rate (surviving daughters per woman)',
       'Mean Age Childbearing (years)',
       'Sex Ratio at Birth (males per 100 female births)',
       'Total Deaths (thousands)', 'Male Deaths (thousands)',
       'Female Deaths (thousands)',
       'Crude Death Rate (deaths per 1,000 population)',
       'Life Expectancy at Birth, both sexes (years)',
       'Male Life Expectancy at Birth (years)',
       'Female Life Expectancy at Birth (years)',
       'Life Expectancy at Age 15, both sexes (years)',
       'Male Life Expectancy at Age 15 (years)',
       'Female Life Expectancy at Age 15 (years)',
       'Life Expectancy at Age 65, both sexes (years)',
       'Male Life Expectancy at Age 65 (years)',
       'Female Life Expectancy at Age 65 (years)',
       'Life Expectancy at Age 80, both sexes (years)',
       'Male Life Expectancy at Age 80 (years)',
       'Female Life Expectancy at Age 80 (years)',
       'Infant Deaths, under age 1 (thousands)',
       'Infant Mortality Rate (infant deaths per 1,000 live births)',
       'Live Births Surviving to Age 1 (thousands)',
       'Under-Five Deaths, under age 5 (thousands)',
       'Under-Five Mortality (deaths under age 5 per 1,000 live births)',
       'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
       'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
       'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
       'Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)',
       'Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)',
       'Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)',
       'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
       'Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)',
       'Net Number of Migrants (thousands)',
       'Net Migration Rate (per 1,000 population)'],
      dtype='object', name=15)

In [104]:
dataframe['Region, subregion, country or area *']

0                            WORLD
1                            WORLD
2                            WORLD
3                            WORLD
4                            WORLD
                   ...
20591    Wallis and Futuna Islands
20592    Wallis and Futuna Islands
20593    Wallis and Futuna Islands
20594    Wallis and Futuna Islands
20595    Wallis and Futuna Islands
Name: Region, subregion, country or area *, Length: 20596, dtype: object

In [103]:
dataframe['Region, subregion, country or area *'].unique()

array(['WORLD', 'Sustainable Development Goal (SDG) regions',
       'Sub-Saharan Africa', 'Northern Africa and Western Asia',
       'Central and Southern Asia', 'Eastern and South-Eastern Asia',
       'Latin America and the Caribbean',
       'Oceania (excluding Australia and New Zealand)',
       'Australia/New Zealand', 'Europe and Northern America',
       'UN development groups', 'More developed regions',
       'Less developed regions', 'Least developed countries',
       'Less developed regions, excluding least developed countries',
       'Less developed regions, excluding China',
       'Land-locked Developing Countries (LLDC)',
       'Small Island Developing States (SIDS)',
       'World Bank income groups', 'High-income countries',
       'Middle-income countries', 'Upper-middle-income countries',
       'Lower-middle-income countries', 'Low-income countries',
       'No income group available', 'Geographic regions', 'AFRICA',
       'Eastern Africa', 'Burundi', 'Comoros', 'Djibouti', 'Eritrea',
       'Ethiopia', 'Kenya', 'Madagascar', 'Malawi', 'Mauritius',
       'Mayotte', 'Mozambique', 'Réunion', 'Rwanda', 'Seychelles',
       'Somalia', 'South Sudan', 'Uganda', 'United Republic of Tanzania',
       'Zambia', 'Zimbabwe', 'Middle Africa', 'Angola', 'Cameroon',
       'Central African Republic', 'Chad', 'Congo',
       'Democratic Republic of the Congo', 'Equatorial Guinea', 'Gabon',
       'Sao Tome and Principe', 'Northern Africa', 'Algeria', 'Egypt',
       'Libya', 'Morocco', 'Sudan', 'Tunisia', 'Western Sahara',
       'Southern Africa', 'Botswana', 'Eswatini', 'Lesotho', 'Namibia',
       'South Africa', 'Western Africa', 'Benin', 'Burkina Faso',
       'Cabo Verde', "Côte d'Ivoire", 'Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Liberia', 'Mali', 'Mauritania', 'Niger',
       'Nigeria', 'Saint Helena', 'Senegal', 'Sierra Leone', 'Togo',
       'ASIA', 'Central Asia', 'Kazakhstan', 'Kyrgyzstan', 'Tajikistan',
       'Turkmenistan', 'Uzbekistan', 'Eastern Asia', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR',
       'China, Taiwan Province of China',
       "Dem. People's Republic of Korea", 'Japan', 'Mongolia',
       'Republic of Korea', 'Southern Asia', 'Afghanistan', 'Bangladesh',
       'Bhutan', 'India', 'Iran (Islamic Republic of)', 'Maldives',
       'Nepal', 'Pakistan', 'Sri Lanka', 'South-Eastern Asia',
       'Brunei Darussalam', 'Cambodia', 'Indonesia',
       "Lao People's Democratic Republic", 'Malaysia', 'Myanmar',
       'Philippines', 'Singapore', 'Thailand', 'Timor-Leste', 'Viet Nam',
       'Western Asia', 'Armenia', 'Azerbaijan', 'Bahrain', 'Cyprus',
       'Georgia', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman',
       'Qatar', 'Saudi Arabia', 'State of Palestine',
       'Syrian Arab Republic', 'Türkiye', 'United Arab Emirates', 'Yemen',
       'EUROPE', 'Eastern Europe', 'Belarus', 'Bulgaria', 'Czechia',
       'Hungary', 'Poland', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Slovakia', 'Ukraine', 'Northern Europe',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'Guernsey',
       'Iceland', 'Ireland', 'Isle of Man', 'Jersey', 'Latvia',
       'Lithuania', 'Norway', 'Sweden', 'United Kingdom',
       'Southern Europe', 'Albania', 'Andorra', 'Bosnia and Herzegovina',
       'Croatia', 'Gibraltar', 'Greece', 'Holy See', 'Italy',
       'Kosovo (under UNSC res. 1244)', 'Malta', 'Montenegro',
       'North Macedonia', 'Portugal', 'San Marino', 'Serbia', 'Slovenia',
       'Spain', 'Western Europe', 'Austria', 'Belgium', 'France',
       'Germany', 'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands',
       'Switzerland', 'LATIN AMERICA AND THE CARIBBEAN', 'Caribbean',
       'Anguilla', 'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados',
       'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands',
       'Cayman Islands', 'Cuba', 'Curaçao', 'Dominica',
       'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica',
       'Martinique', 'Montserrat', 'Puerto Rico', 'Saint Barthélemy',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Vincent and the Grenadines',
       'Sint Maarten (Dutch part)', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Central America', 'Belize', 'Costa Rica', 'El Salvador',
       'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
       'South America', 'Argentina', 'Bolivia (Plurinational State of)',
       'Brazil', 'Chile', 'Colombia', 'Ecuador',
       'Falkland Islands (Malvinas)', 'French Guiana', 'Guyana',
       'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'Venezuela (Bolivarian Republic of)', 'NORTHERN AMERICA',
       'Bermuda', 'Canada', 'Greenland', 'Saint Pierre and Miquelon',
       'United States of America', 'OCEANIA', 'Australia', 'New Zealand',
       'Melanesia', 'Fiji', 'New Caledonia', 'Papua New Guinea',
       'Solomon Islands', 'Vanuatu', 'Micronesia', 'Guam', 'Kiribati',
       'Marshall Islands', 'Micronesia (Fed. States of)', 'Nauru',
       'Northern Mariana Islands', 'Palau', 'Polynesia', 'American Samoa',
       'Cook Islands', 'French Polynesia', 'Niue', 'Samoa', 'Tokelau',
       'Tonga', 'Tuvalu', 'Wallis and Futuna Islands'], dtype=object)

In [106]:
iran = dataframe[dataframe['Region, subregion, country or area *'] == 'Iran (Islamic Republic of)']

In [114]:
iran.reset_index(inplace=True)

In [115]:
iran

15,level_0,index,"Region, subregion, country or area *",Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Population Sex Ratio, as of 1 July (males per 100 females)",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,7708,7724,Iran (Islamic Republic of),1950,16640.746,16832.834,8572.22,8260.613,10.335,103.772,...,617.856,646.089,278.88,259.533,298.805,423.072,411.35,435.517,9.068,0.539
1,7709,7725,Iran (Islamic Republic of),1951,17024.922,17219.627,8777.005,8442.622,10.572,103.961,...,616.552,642.848,278.083,259.903,296.819,422.117,411.849,433.157,7.745,0.45
2,7710,7726,Iran (Islamic Republic of),1952,17414.333,17614.454,8985.681,8628.773,10.815,104.136,...,610.833,636.946,275.537,257.463,294.153,419.107,409.044,429.966,2.427,0.138
3,7711,7727,Iran (Islamic Republic of),1953,17814.575,18017.545,9198.899,8818.646,11.062,104.312,...,605.89,633.831,274.541,255.518,294.101,417.884,406.653,429.895,-7.872,-0.437
4,7712,7728,Iran (Islamic Republic of),1954,18220.515,18434.881,9419.588,9015.293,11.318,104.485,...,598.085,624.06,268.236,250.5,286.483,410.424,400.728,420.89,-5.607,-0.304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,7775,7791,Iran (Islamic Republic of),2017,83913.271,84505.076,42789.954,41715.123,51.883,102.577,...,142.31,77.312,46.825,63.725,29.014,94.35,125.2,61.3,7.709,0.091
68,7776,7792,Iran (Islamic Republic of),2018,85096.882,85617.562,43333.952,42283.609,52.566,102.484,...,138.368,78.198,46.471,62.894,29.178,93.1,121.821,62.474,-29.981,-0.35
69,7777,7793,Iran (Islamic Republic of),2019,86138.242,86564.202,43792.157,42772.045,53.148,102.385,...,143.666,80.183,48.974,66.329,30.693,97.058,127.359,64.742,-34.571,-0.4
70,7778,7794,Iran (Islamic Republic of),2020,86990.162,87290.193,44134.884,43155.308,53.593,102.27,...,170.048,101.898,59.278,78.1,39.436,121.109,154.124,85.824,-156.669,-1.794
71,7779,7795,Iran (Islamic Republic of),2021,87590.223,87923.432,44426.789,43496.643,53.982,102.138,...,166.284,93.302,55.004,73.795,35.212,116.26,151.24,78.881,28.08,0.319

In [119]:
iran[['Year', 'Total Population, as of 1 January (thousands)',]]

15  Year Total Population, as of 1 January (thousands)
0   1950                                     16640.746
1   1951                                     17024.922
2   1952                                     17414.333
3   1953                                     17814.575
4   1954                                     18220.515
..   ...                                           ...
67  2017                                     83913.271
68  2018                                     85096.882
69  2019                                     86138.242
70  2020                                     86990.162
71  2021                                     87590.223

[72 rows x 2 columns]

In [118]:
iran[iran['Year'] > 1979]

15,level_0,index,"Region, subregion, country or area *",Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Population Sex Ratio, as of 1 July (males per 100 females)",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
30,7738,7754,Iran (Islamic Republic of),1980,37844.573,38520.664,19842.442,18678.222,23.65,106.233,...,409.661,327.842,167.857,199.008,133.331,282.497,327.023,232.338,66.006,1.714
31,7739,7755,Iran (Islamic Republic of),1981,39196.756,40476.251,20901.475,19574.777,24.851,106.778,...,494.035,320.284,223.334,299.496,133.022,339.522,427.785,231.351,1266.083,31.769
32,7740,7756,Iran (Islamic Republic of),1982,41755.747,42500.03,21978.956,20521.074,26.094,107.104,...,478.072,302.912,215.147,289.508,124.5,328.986,415.773,220.287,69.511,1.636
33,7741,7757,Iran (Islamic Republic of),1983,43244.313,44027.986,22714.605,21313.38,27.032,106.574,...,462.824,285.114,204.148,277.914,114.816,315.944,403.184,207.414,95.824,2.178
34,7742,7758,Iran (Islamic Republic of),1984,44811.658,45628.402,23495.289,22133.113,28.014,106.154,...,390.579,269.508,158.812,204.507,105.989,266.924,327.544,195.802,87.876,1.927
35,7743,7759,Iran (Islamic Republic of),1985,46445.147,47266.16,24301.374,22964.786,29.02,105.82,...,381.789,257.145,153.334,199.527,99.977,259.89,321.712,187.396,82.961,1.757
36,7744,7760,Iran (Islamic Republic of),1986,48087.174,48913.237,25105.248,23807.989,30.031,105.449,...,372.853,247.332,148.277,194.178,95.364,253.521,315.349,181.188,104.653,2.142
37,7745,7761,Iran (Islamic Republic of),1987,49739.3,50541.49,25893.396,24648.094,31.031,105.052,...,368.377,243.054,146.659,192.041,94.578,251.742,313.198,180.141,97.248,1.926
38,7746,7762,Iran (Islamic Republic of),1988,51343.681,52111.868,26653.409,25458.46,31.995,104.694,...,359.314,232.236,141.223,186.577,89.381,244.74,306.644,172.866,63.143,1.213
39,7747,7763,Iran (Islamic Republic of),1989,52880.056,53644.736,27404.071,26240.665,32.936,104.434,...,287.339,218.699,100.002,116.876,81.491,198.736,232.204,161.996,59.563,1.111
40,7748,7764,Iran (Islamic Republic of),1990,54409.416,55793.629,28471.683,27321.946,34.255,104.208,...,312.337,244.398,116.866,133.506,98.619,220.508,254.133,183.57,1375.419,24.965
41,7749,7765,Iran (Islamic Republic of),1991,57177.842,57990.883,29563.662,28427.22,35.605,103.998,...,277.983,205.864,95.651,113.241,76.4,192.72,227.384,154.614,194.979,3.368
42,7750,7766,Iran (Islamic Republic of),1992,58803.924,59372.016,30246.675,29125.341,36.453,103.85,...,275.768,198.171,93.743,113.07,72.565,190.016,227.125,149.087,-203.4,-3.422
43,7751,7767,Iran (Islamic Republic of),1993,59940.108,59755.43,30430.313,29325.118,36.688,103.769,...,267.811,194.551,90.741,108.492,71.339,185.665,220.674,147.207,-1595.94,-26.371
44,7752,7768,Iran (Islamic Republic of),1994,59570.752,59985.749,30536.539,29449.209,36.829,103.692,...,265.524,186.831,88.832,108.053,67.763,182.772,220.137,141.636,-197.49,-3.29
45,7753,7769,Iran (Islamic Republic of),1995,60400.745,60794.809,30931.127,29863.681,37.326,103.574,...,258.49,183.968,86.426,104.164,67.028,179.274,214.638,140.487,-120.114,-1.975
46,7754,7770,Iran (Islamic Republic of),1996,61188.873,61598.378,31320.559,30277.819,37.819,103.444,...,258.287,173.598,87.509,110.96,61.688,175.867,216.361,130.993,7.728,0.126
47,7755,7771,Iran (Islamic Republic of),1997,62007.884,62480.533,31746.786,30733.747,38.361,103.296,...,251.828,171.368,86.292,108.573,61.827,172.341,210.797,129.873,198.135,3.177
48,7756,7772,Iran (Islamic Republic of),1998,62953.181,63461.421,32223.035,31238.387,38.963,103.152,...,242.327,164.011,82.728,104.443,58.955,165.707,203.039,124.575,288.994,4.565
49,7757,7773,Iran (Islamic Republic of),1999,63969.661,64474.745,32715.378,31759.367,39.585,103.01,...,234.464,158.454,80.253,101.315,57.291,160.485,196.604,120.787,277.986,4.321
50,7758,7774,Iran (Islamic Republic of),2000,64979.828,65544.383,33235.518,32308.864,40.242,102.868,...,226.047,153.017,77.671,97.947,55.674,155.08,189.732,117.106,394.594,6.038
51,7759,7775,Iran (Islamic Republic of),2001,66108.937,66674.851,33786.412,32888.44,40.936,102.73,...,221.259,147.763,76.127,96.502,54.106,151.515,186.268,113.466,393.336,5.917
52,7760,7776,Iran (Islamic Republic of),2002,67240.765,67327.117,34099.104,33228.012,41.337,102.622,...,210.198,142.368,72.873,91.728,52.609,144.919,176.971,109.985,-568.95,-8.415
53,7761,7777,Iran (Islamic Republic of),2003,67413.468,67954.699,34429.317,33525.382,41.722,102.696,...,221.434,158.274,81.905,99.215,63.372,155.726,185.88,122.949,370.945,5.474
54,7762,7778,Iran (Islamic Republic of),2004,68495.93,69061.674,35028.219,34033.455,42.402,102.923,...,197.308,131.81,68.969,87.106,49.526,136.477,167.186,103.012,369.535,5.364
55,7763,7779,Iran (Islamic Republic of),2005,69627.419,70182.594,35630.982,34551.612,43.09,103.124,...,189.332,116.504,64.813,88.344,39.343,126.554,161.205,88.443,323.987,4.626
56,7764,7780,Iran (Islamic Republic of),2006,70737.768,71275.76,36210.381,35065.378,43.761,103.265,...,187.157,112.653,64.457,87.104,39.964,125.806,161.016,86.977,252.053,3.542
57,7765,7781,Iran (Islamic Republic of),2007,71813.751,72319.418,36750.402,35569.016,44.402,103.321,...,179.653,111.436,61.939,82.487,39.763,122.776,154.965,87.374,139.826,1.935
58,7766,7782,Iran (Islamic Republic of),2008,72825.086,73318.394,37258.4,36059.993,45.015,103.323,...,181.476,117.197,65.498,83.926,45.649,127.36,157.641,94.103,90.815,1.239
59,7767,7783,Iran (Islamic Republic of),2009,73811.701,74322.685,37767.957,36554.728,45.632,103.319,...,180.722,123.998,70.445,87.203,52.438,130.093,156.806,100.907,99.224,1.336
60,7768,7784,Iran (Islamic Republic of),2010,74833.668,75373.855,38301.112,37072.743,46.277,103.313,...,183.426,113.296,67.005,86.767,45.729,128.622,161.742,92.21,127.703,1.695
61,7769,7785,Iran (Islamic Republic of),2011,75914.042,76342.971,38783.336,37559.635,46.872,103.258,...,174.659,103.959,61.04,80.713,39.895,120.698,154.045,84.109,-150.029,-1.963
62,7770,7786,Iran (Islamic Republic of),2012,76771.9,77324.451,39262.182,38062.269,47.475,103.152,...,165.103,99.217,57.359,75.462,37.987,113.862,145.04,79.85,19.635,0.254
63,7771,7787,Iran (Islamic Republic of),2013,77877.002,78458.928,39818.34,38640.588,48.171,103.048,...,162.938,96.812,55.748,73.847,36.423,112.342,143.721,78.193,23.351,0.298
64,7772,7788,Iran (Islamic Republic of),2014,79040.853,79961.672,40556.06,39405.613,49.094,102.92,...,154.741,90.46,51.684,68.661,33.614,105.402,135.806,72.435,653.255,8.201
65,7773,7789,Iran (Islamic Republic of),2015,80882.491,81790.841,41454.741,40336.099,50.217,102.773,...,151.372,87.132,50.35,67.199,32.53,102.904,133.452,69.95,628.31,7.712
66,7774,7790,Iran (Islamic Republic of),2016,82699.19,83306.231,42200.628,41105.603,51.147,102.664,...,145.154,83.718,48.5,64.641,31.507,98.358,127.687,66.922,23.759,0.285
67,7775,7791,Iran (Islamic Republic of),2017,83913.271,84505.076,42789.954,41715.123,51.883,102.577,...,142.31,77.312,46.825,63.725,29.014,94.35,125.2,61.3,7.709,0.091
68,7776,7792,Iran (Islamic Republic of),2018,85096.882,85617.562,43333.952,42283.609,52.566,102.484,...,138.368,78.198,46.471,62.894,29.178,93.1,121.821,62.474,-29.981,-0.35
69,7777,7793,Iran (Islamic Republic of),2019,86138.242,86564.202,43792.157,42772.045,53.148,102.385,...,143.666,80.183,48.974,66.329,30.693,97.058,127.359,64.742,-34.571,-0.4
70,7778,7794,Iran (Islamic Republic of),2020,86990.162,87290.193,44134.884,43155.308,53.593,102.27,...,170.048,101.898,59.278,78.1,39.436,121.109,154.124,85.824,-156.669,-1.794
71,7779,7795,Iran (Islamic Republic of),2021,87590.223,87923.432,44426.789,43496.643,53.982,102.138,...,166.284,93.302,55.004,73.795,35.212,116.26,151.24,78.881,28.08,0.319

In [129]:
iran_population_1980 = iran[iran['Year'] == 1980]['Total Population, as of 1 January (thousands)']

In [130]:
iran_population_2021 = iran[iran['Year'] == 2021]['Total Population, as of 1 January (thousands)']

In [137]:
iran_population_2021.values / iran_population_1980.values

array([2.314472487244076], dtype=object)

In [136]:
iran_population_1980.values

array([37844.573], dtype=object)

In [138]:
iran_population_1980

30    37844.573
Name: Total Population, as of 1 January (thousands), dtype: object